html {
  margin: 0;
}

body {
  background-color: #081313;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

html,
body,
#root,
.App {
  height: 100%;
}

#root {
  overflow: hidden;
}

.letterTile {
  position: relative;
  display: inline-block;
  padding: 0.6vh;
  height: 3vh;
  width: 3vh;
  z-index: 9;
  text-align: center;
  border: 1px solid #d3d3d3;
  background-color: #efe8b7;
  cursor: pointer;
  user-select: none;
  box-shadow: 4px 4px 4px 0px rgb(0 0 0 / 69%);
  left: -2px;
  top: -13px;
  font-size: 2vh;
  font-weight: 700;
  color: #004b3f;
}

.letterTile:hover {
  opacity: 0.5;
}

.letterTile-selected {
  background-color: blue;
}

.letterTile-onBoard-mobile {
  width: 1rem;
  height: 1rem;
  padding: 1px;
  font-size: 0.8rem;
}

.letterTile-onBoard-mobile > div {
  font-size: 5px;
}

.letterTileTopFix {
  top: -27px;
}

.letterTile .letterTileTopFix .letterTile-onBoard-mobile {
  top: -15px !important;
}

.letterTileOnHand {
  top: 4px;
}

.letterPoint {
  font-size: 1.2vh;
  position: absolute;
  bottom: 1px;
  right: 4px;
}
.grid-item {
  background-color: #004b3f;
  border: 1px solid rgb(221 218 218 / 96%);
  text-align: center;
  padding: 4px;
  width: 4vh;
  height: 4vh;
  user-select: none;
}

.board {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  background-color: #2e4289;
  padding: 2px;
  margin: auto;
  margin-top: 5px;
  padding: 0.8vh;
  border-radius: 3px;
}

.playerContainer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  border: 1px solid #ffffff;
  padding: 5px;
  margin-top: 10px;
  border-radius: 4px;
  background: #636a3f;
}

.rightPanel {
  position: absolute;
  right: 10%;
  top: 1px;
}

@media only screen and (max-width: 600px) {
  .grid-item {
    width: 1rem;
    height: 1rem;
    padding: 2px;
  }

  .board {
    width: 20rem;
    padding: 3px 13px 3px 3px;
  }

  .playerContainer {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .playerContainer div {
    padding: 0px;
  }

  .rightPanel {
    right: initial;
    top: initial;
    bottom: -3rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .rightPanelButtonContainer {
    display: flex;
  }
}

.grid-item-double-word {
  background-color: #ffc0cb7a;
}
.grid-item-double-word:before {
  content: '2xWord';
  font-size: 11px;
}
.grid-item-triple-word {
  background-color: red;
}
.grid-item-double-letter {
  background-color: cyan;
}
.grid-item-triple-letter {
  background-color: blue;
}
.grid-item-center {
  background-color: red;
}
.grid-item-highlight {
  background-color: cyan;
}
